body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #e72626;
    font-size: 3em;
    margin-top: 50px;
}

p {
    color: #666;
    font-size: 1.2em;
}
